<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}
">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Smart Contact Manager</title>
  </head>
  <body>
  
  	<section>
  		<div class="card mr-3 ml-3">
            <div class="card-body">
                <h1 class="text-center mb-2">
                    Your Contacts
                </h1>

                <table class="table mt-2">
                    <thead>
                      <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">SecondName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each=" c: ${contacts}" > 
                        <th scope="row" th:text="${'SCMUSER'+c.cId}">1</th>
                        <td>
                            <img class="my_profile_picture" th:src="@{'/images/'+${c.image}}" alt="">
                            <span th:text="${c.name}"></span>
                        </td>
                        <td>
                            <a th:href="@{'/user/'+${c.cId}+'/contact'}">
                                <span th:text="${c.email}"></span>
                            </a>
                        </td>
                        <td th:text="${c.phone}">@mdo</td>
                        <td>
                            <button class="btn btn-danger btn-sn">Delete</button>
                            <button class="btn btn-primary btn-sn">Update</button>

                        </td>
                      </tr>
                      
                    </tbody>
                  </table>

                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <!-- Previous Button -->
                        <li th:if="${currentPage  != 0}" class="page-item">
                            <a th:href="@{${currentPage - 1}}" class="page-link">Previous</a>
                        </li>
                
                        <!-- Page Numbers -->
                        <li th:each="i: ${#numbers.sequence(1, totalPage)}" 
                            th:classappend="${currentPage == i-1 ? 'active' : ''}" class="page-item">
                            <a th:href="@{${i-1}}" class="page-link">
                                <span th:text="${i}"></span>
                            </a>
                        </li>
                
                        <!-- Next Button -->
                        <li th:if="${currentPage + 1 != totalPage}" class="page-item">
                            <a th:href="@{${currentPage + 1}}" class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
                
            </div>
        </div>
  	</section>
  	
    
  </body>
</html>